
# Медицинские данные
/Исследования/
/Размеченные/
/Размеченные_*/
/Для теста/

*.dcm
*.dicom

# Экспертная разметка
разметка.xlsx

# Архивы
*.rar
*.zip

# Локальные настройки
.env
.env.*
!.env.example

# Python
__pycache__/
.ipynb_checkpoints/
.venv/

# Модели
*.pt
*.pth